{% extends "base.html" %}

{% block title_extra %}| Accueil{% endblock %}

{% block main_content %}
    <h1 class="title">Bienvenue sur le {{ app_name }} !</h1>
    <p>Il y a <b>{{ icono|length }} ressources iconographiques</b> 
        sur ce site.</p>

    <dl>
        {% for item in icono %}
            <dt>
                Item {{ item.id }}
            </dt>
            <dd>
                <a href="{{ url_for('icono_main', id_icono=item.id) }}">{{ item.titre }}</a>
            </dd>
        {% endfor %}        
    </dl>
{% endblock %}