{% extends "base.html" %}

{% block title_extra %}
    {% if item_icono %}| {{ item_icono.titre }}{% endif %}
{% endblock %}

{% block main_content %}
    <h1 class="title">Ressource iconographique: 
        <i>{{ item_icono.titre }}</i>
    </h1>

    <dl>
        <dt>Auteur.ice</dt><dd>{{ item_icono.auteurice }}</dd>
        <dt>Titre</dt><dd>{{ item_icono.titre }}</dd>
        {# ici, on utilise `dict.cle` et non `dict["cle"]` #}
        <dt>Date</dt><dd>{{ item_icono.date }}</dd>
        <dt>URL source</dt><dd>
            <a href="{{ item_icono.url }}">
                {{ item_icono.url }}
            </a>
        <dd>
    </dl>
    
    <div class="is-flex is-align-items-end is-justify-content-end">
        <a href="{{ url_for('index') }}" class="button is-rounded">Retour à l'accueil</a>
    </column>
{% endblock %}