{% extends "base.html" %}

{% block title_extra %}| {{ place_item.place_name }}{% endblock %}

{% block main_content %}
    <h1 class="title">Lieu: {{ place_item.address }}</h1>
    <h2 class="subtitle">{{ place_item.iconography|length }} ressources iconographiques liées</h1>
    <div class="content">
        <div>
            <dl>
                <dt>Adresse</dt><dd>{{ place_item.address }}</dd>
                <dt>Date</dt><dd>
                    {% if place_item.date_lower %}
                        {{ place_item.date_lower }}{% if place_item.date_upper %}-{{ place_item.date_upper }}{% endif %}
                    {% endif %}
                </dd>
                <dt>URL <q>Quartier Richelieu</q></dt><dd>
                    <a href="{{ place_item.richelieu_url }}">{{ place_item.richelieu_url }}</a>
                </dd>
                <dt>Latitude/Longitude</dt><dd><pre>{{ place_item.loc["coordinates"]|tojson }}</pre></dd>
                <dt>Empreinte parcellaire</dt><dd><pre>{{ place_item.plot|tojson }}</pre></dd>
            </dl>
        </div>

        <h2>Ressources iconographiques</h2>
        <ul class="columns is-multiline mt-1">
            {% for icono_item in place_item.iconography %}
                <li class="column is-one-third">
                    <div class="card border">
                        <a href="{{ url_for('icono_main', id_icono=icono_item.id) }}">
                            <span class="card-header">   
                                <i class="card-header-title">{{ icono_item.title }}</i>
                            </span>
                            <div class="card-content">
                                {% if icono_item.author %}
                                    <p class="">{{ icono_item.author.author_name }}</p>
                                {% endif %}
                                <p>
                                    {% if icono_item.date_lower %}
                                        ({{ icono_item.date_lower }}
                                    {% endif %}-{% if icono_item.date_upper %}
                                        {{ icono_item.date_upper }})
                                    {% endif %}
                                    {{ icono_item.institution }}
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}