@font-face {
    font-family: 'urlaub-grotesk';
    src: url('../fonts/Urlaub-Grotesk-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eb-garamond';
    src: url("../fonts/EBGaramond-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    size-adjust: 120%;
}

@font-face {
    font-family: 'eb-garamond';
    src: url('../fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    size-adjust: 120%;
}

:root {
    /** CUSTOM COLOR DEFINITIONS */
    --cs-color-plum: #710551;
    --cs-color-plum-light: #c93e9f;
    --cs-color-plum-dark: #680059;
    --cs-color-back: #ffffff;
    --cs-color-front: #000;


    /** OVERRIDING BULMA DEFAULTS */
    /* body/scheme background */
    --bulma-scheme-main: var(--cs-color-back);
    /* body text color */
    --bulma-text: var(--cs-color-front);

    /* link color */
    /* visited link color is set in `a:visited` css rule directly */
    --bulma-link-text: var(--cs-color-plum);

    /* link hover color */
    /* normally = link color's lightness + a global "-5%" delta */
    --bulma-link-text-hover: var(--cs-color-plum-light);

    /* active link color */
    /* normally link + a -10% lightness delta */
    --bulma-link-text-active: var(--cs-color-plum-dark);

    /* affects .title AND any other element that defaults off --bulma-text-strong,
       e.g. <strong>, table headers, etc. */
    --bulma-text-strong: var(--bulma-text);

    /* OR, to touch titles only, without affecting <strong>/table headers/etc: */
    --bulma-title-color: var(--bulma-text);

    /** MY OTHER RULES */
    --cs-border: solid 1px var(--cs-color-front);
    --cs-border-negative: solid 1px var(--cs-color-back);
}

body {
    font-family: "urlaub-grotesk";
}

h1, h2, h3, h4, h5, h6 {
    font-family: eb-garamond;
}

b, strong {
    font-family: eb-garamond;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 1em;
    margin: 1em 0;
    align-items: center;
}

dt {
    grid-column: 1;
    font-family: eb-garamond;
    font-weight: bold;
}

dd {
    grid-column: 2;
    padding-top: .25em
}


*::selection {
  background-color: var(--cs-color-plum);
  color: var(--cs-color-back);
}

.negative {
  background-color: var(--cs-color-front);
  color: var(--cs-color-back);
}

.garamond {
    font-family: eb-garamond !important;
}

.border {
    border: var(--cs-border);
}

.border-top {
    border-top: var(--cs-border);
}

.border-left {
    border-left: var(--cs-border);
}

.border-right {
    border-right: var(--cs-border);
}

.border-bottom {
    border-bottom: var(--cs-border);
}