<html>
    <head>
        <title>{{app_name}}</title>
    </head>
    <body>
        <h1>Bienvenue sur le {{app_name}} !</h1>

        <p>Voici la fiche de la première ressource iconographique:</p>
        <ul>
            <li>Auteur.ice: {{icono[0]["auteurice"]}}</li>
            <li>Titre: {{icono[0]["titre"]}}</li>
            {# ici, on utilise `dict.cle` et non `dict["cle"]` #}
            <li>Date: {{icono[0].date}}</li>
            <li>URL: 
                <a href="{{icono[0].url}}">
                    {{icono[0].url}}
                </a>
            </li>
        </ul>
    </body>
</html>
