# postgresql database dump
DUMP_FILE=

# database name. NOTe: don´t rename it. this name is defined in the dump script. 
DB_NAME=richelieu_b

# postgresql host
PG_HOST=localhost

# postgresql port
PG_PORT=5432

# postgres user (will be owner of the db)
PG_USER=

# password for the postgresql user
PG_PASSWORD=
