{% extends "base.html" %}

{% block title_extra %}
    {% if icono_item.title %}| {{ icono_item.title }}{% endif %}
{% endblock %}

{% block main_content%}
    <h1 class="title">{{ icono_item.title }}</h1>
    <div class="main-wrapper content columns">
        <div class="block-wrapper column is-half border-right">
            <dl class="is-center">
                <dt>Auteur.ice</dt><dd>
                    {% if icono_item.author %}
                        {{ icono_item.author }}
                    {% else %}
                        Anonyme
                    {% endif %}
                </dd>
                <dt>Titre</dt><dd>{{ icono_item.title }}</dt>
                <dt>Date</dt><dd>
                    {% if icono_item.date_lower %}
                        {{ icono_item.date_lower }}{% if icono_item.date_upper %}-{{ icono_item.date_upper }}{% endif %}
                    {% endif %}
                </dt>
                <dt>URL <q>Quartier Richelieu</q></dt><dd>
                    <a href="{{ icono_item.richelieu_url }}">{{ icono_item.richelieu_url }}</a>
                </dt>
                {% if icono_item.source_url %}
                    <dt>URL d'origine</dt><dd>
                        <a href="{{ icono_item.source_url }}">{{ icono_item.source_url }}</a>
                    </dt>
                {% endif %}
                <dt>Manifeste IIIF</dt><dd>
                    <a href="{{ icono_item.iiif_manifest_url }}">{{ icono_item.iiif_manifest_url }}</a>
                </dt>
                <dt>Institution</dt><dd>{{ icono_item.institution }}</dt>
            </dl>
        </div>
        <div class="block-wrapper column is-half accentuate flex-center">
            <img
                class="object-fit-contain" 
                src="{{icono_item.iiif_image_url}}" 
                alt="Image de {{icono_item.title}}"
            >
        </div>
    </div>
{% endblock %}

{% block extra_css%}
.main-wrapper {
    max-height: 80vh;
}
.block-wrapper {
    max-height: 100%;
}
img {
    height: 100%;
}
{% endblock %}