<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ app_name }}
            {% block title_extra %}{% endblock %}
        </title>
        {% include "includes/metadata.html" %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <style>
        {% block extra_css %}{% endblock %}
    </style>
    </head>
    <body>
        {% include "includes/header.html" %}
        <main class="m-5">

            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <div class="flex-center">
                        <ul class=flashes>
                            {% for category, message in messages %}
                                <li class=
                                    {% if category=="error" %}
                                        "flash-message errors"
                                    {% else %}
                                        "flash-message success"
                                    {% endif %}
                                >{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}

            {% block main_content %}{% endblock %}
        </main>
        {% include "includes/footer.html" %}
    </body>
</html>