<html>
    <head>
        <title>{{ app_name }} | {{ item_icono.title }}</title>
    </head>
    <body>
        <h1>Ressource iconographique: 
            <i>{{ item_icono.titre }}</i>
            </h1>

        <ul>
            <li>Auteur.ice: {{ item_icono.auteurice }}</li>
            <li>Titre: {{ item_icono.titre }}</li>
            {# ici, on utilise `dict.cle` et non `dict["cle"]` #}
            <li>Date: {{ item_icono.date }}</li>
            <li>URL source: 
                <a href="{{ item_icono.url }}">
                    {{ item_icono.url }}
                </a>
            </li>
        </ul>

    <a href="{{ url_for('index') }}">Retour à l'accueil</a>
    </body>
</html>